@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* :root {
  --scale__type: 1.33;
  --size__p: 1rem;
  --size__h5: calc(var(--size__p) * var(--scale__type));
  --size__h4: calc(var(--size__h5) * var(--scale__type));
  --size__h3: calc(var(--size__h4) * var(--scale__type));
  --size__h2: calc(var(--size__h3) * var(--scale__type));
  --size__h1: calc(var(--size__h2) * var(--scale__type));
} */

/* @media screen and (max-width: 768px) {
  :root {
    --scale__type: 1.125;
  }
} */

@media (prefers-color-scheme: light) {
  :root {
    --color__text: #030507;
    --color__background: #f5f8fa;
    --color__primary: #478abd;
    --color__secondary: #90bddf;
    --color__accent: #6babdb;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color__text: #f8fafc;
    --color__background: #05080a;
    --color__primary: #4285b8;
    --color__secondary: #204d6f;
    --color__accent: #246394;
  }
}


/* REF: https://www.realtimecolors.com/?colors=f8fafc-05080a-4285b8-204d6f-246394&fonts=Inter-Inter */


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--color__text);
	background-color: var(--color__background);
  
}

@media screen and (max-width: 1024px){
  body{
    font-size: 18px;
  }
  
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'montserrat', sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.2;
  margin-bottom: 2rem;
}

p {
  font-family: 'montserrat', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

a{
  text-decoration: none;
  color: var(--color__text);
  padding: 0rem .125rem;
  /* transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1); */
}

a:hover{
  background-color: var(--color__accent);
}

a:active{
  background-color: var(--color__accent);
}

a:visited{
  font-style:italic;
}




ul {
	list-style: none;
  list-style: none;
  text-decoration: none;
}

li {
	list-style: none;
}



.container__global--padding {
	padding: 2rem;
}

.util__border {
	border: 1px solid #000;
}


/* menu Button */


.menu-btn {
  display: block;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: var(--color__text);
  border: 2px solid var(--color__text);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--color__background);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0.75rem;
  /* transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1); */
}

.menu-btn:active {
  background-color: var(--color__text);
  border-color: var(--color__background);
  color: var(--color__background);
}



img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}