---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="page__container-info">
    <section id="about" class="info__section section__about">
      <h2 class="head__start">About Austin</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat,
        fugit, iure provident non voluptate ipsum assumenda cum perspiciatis
        nemo harum quo, labore inventore molestias sapiente dicta neque!
        Pariatur non sint aperiam quisquam, sequi voluptatem impedit tempore
        architecto ad, quos nesciunt mollitia ea accusantium aliquid fugit?
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
        repudiandae aliquid sint autem eos dolor ea maiores dolores distinctio.
        Quo delectus nobis magnam ea in voluptas numquam corporis vitae tenetur,
        a animi?
      </p>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit at
        totam suscipit, cum id quo ipsam deleniti molestiae. Porro eveniet
        quaerat cumque? Corrupti impedit vel, quod et quibusdam id eligendi!
        Doloremque consequatur eveniet voluptas voluptates fugit. Placeat qui
        rem cum, molestiae quae sunt dignissimos, ad officiis quos, tempore
        laborum error modi nesciunt ratione quis quaerat eligendi!
      </p>
    </section>
    <section id="contact" class="section__contact">
      <h2>Get In Touch</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ea
        possimus autem amet culpa magni fugit. Excepturi magnam, officiis eos
        quasi sequi aliquam explicabo unde.
      </p>

      <div class="contact__section">
        <a class="button-55 inline" href="mailto:austinrmueck@gmail.com"
          >Email Me</a
        >
      </div>
    </section>

    <section class="resume" id="resume">
      <h2>Austin's Resume</h2>
      <div class="resume__section--container">
        <div class="resume__section">
          <div class="resume__section--date">
            <p>2025</p>
          </div>
          <div class="resume__section--info">
            <h4>Sister Act</h4>
            <em>Scenic Design</em>
            <ul>
              <li>Mesa Community College</li>
              <li>Director: TBD</li>
              <li><em>This musical will premere in the spring of 2025</em></li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2024</p>
          </div>
          <div class="resume__section--info">
            <h4>The Rocky Horror Show</h4>
            <em>Scenic Design</em>
            <ul>
              <li>Santa Rosa Junior College</li>
              <li>Directed by Justin Smith</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2024</p>
          </div>
          <div class="resume__section--info">
            <h4>The Revolutionists</h4>
            <em>Scenic Design</em>
            <ul>
              <li>Nebraska Wesleyan University</li>
              <li>Directed by Anne McAlexander</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2024</p>
          </div>
          <div class="resume__section--info">
            <h4>Romeo and Juliet</h4>
            <em>Scenic Design</em>
            <ul>
              <li>Nebraska Wesleyan University</li>
              <li>Directed by Anne McAlexander</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2024</p>
          </div>
          <div class="resume__section--info">
            <h4>A Christmas Carol</h4>
            <em>Scenic Design</em>
            <ul>
              <li>Santa Rosa Junior College</li>
              <li>Directed by James Newman</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2023</p>
          </div>
          <div class="resume__section--info">
            <h4>Clue</h4>
            <em>Scenic Design</em>
            <ul>
              <li>Santa Rosa Junior College</li>
              <li>Directed by Reed Martin</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2022</p>
          </div>
          <div class="resume__section--info">
            <h4>Summer Stock</h4>
            <em>Technical Direction</em>
            <ul>
              <li>Summer Repertory Theater</li>
              <li>Art Direction by James Newman</li>
              <li>
                <em
                  >Performaces included The Importance of Being Earnest,
                  Cinderella, Sister Act, and Silent Sky</em
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2020</p>
          </div>
          <div class="resume__section--info">
            <h4>Junie B. Jones Junior</h4>
            <em>Scenic Design</em>
            <ul>
              <li>Stage Dreams Youth Theater</li>
              <li>Directed by Meija Eller</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>Frozen Junior</h4>
            <em>Rigging Technician</em>
            <ul>
              <li>Stage Dreams Youth Theater</li>
              <li>Produced by Becky James</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>Next To Normal</h4>
            <em>Scenic Design</em>
            <ul>
              <li>French Woods Festival</li>
              <li>Directed by Ron Schaefer</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>Summer Performing Arts Festival</h4>
            <em>Stage Craft Department Head</em>
            <ul>
              <li>French Woods Festival</li>
              <li>Supervised By Anne McAlexander</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>The Addams Family</h4>
            <em>Scenic Design</em>
            <ul>
              <li>French Woods Festival</li>
              <li>Directed by Fred Stuart</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>If/Then</h4>
            <em>Scenic Design</em>
            <ul>
              <li>French Woods Festival</li>
              <li>Directed by LaVonne Canfield</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>The Curious Incident of the Dog in the Nighttime</h4>
            <em>Paint Charge</em>
            <ul>
              <li>French Woods Festival</li>
              <li>Directed by Anne McAlexander</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>Something Rotten</h4>
            <em>Scenic Design</em>
            <ul>
              <li>French Woods Festival</li>
              <li>Directed by Ron Schaefer</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>Decendents</h4>
            <em>Scenic Design</em>
            <ul>
              <li>French Woods Festival</li>
              <li>Directed by Brian Kite</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>Matilda</h4>
            <em>Scenic Design</em>
            <ul>
              <li>French Woods Festival</li>
              <li>Directed by Beth Schaefer</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>Footloose</h4>
            <em>Projection Designer</em>
            <ul>
              <li>Georgetown Palace Theater Education</li>
              <li>Directed by Jonathan Young</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>Mad Libs Live!</h4>
            <em>Projection Designer & Stage Manager</em>
            <ul>
              <li>Georgetown Palace Theater Education</li>
              <li>Directed by Jonathan Young</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2019</p>
          </div>
          <div class="resume__section--info">
            <h4>Footlose</h4>
            <em>Stage Manager</em>
            <ul>
              <li>Georgetown Palace Theater Education</li>
              <li>Directed by Jonathan Young</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2018</p>
          </div>
          <div class="resume__section--info">
            <h4>Apprentice Scenes</h4>
            <em>Stage Crew Lead</em>
            <ul>
              <li>Santa Fe Opera</li>
              <li>Technical Director Scott Schreck</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2018</p>
          </div>
          <div class="resume__section--info">
            <h4>Repertory Summer Stock</h4>
            <em>Stage Crew Appretice</em>
            <ul>
              <li>Santa Fe Opera</li>
              <li>Technical Director Scott Schreck</li>
              <li>
                <em
                  >Productions included Candide, Madame Butterfly, The Italian
                  Girl in Algiers, Doctor Atomic, and Ariadne auf Naxos.</em
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2018</p>
          </div>
          <div class="resume__section--info">
            <h4>A Bright Room Called Day</h4>
            <em>Scenic Design, Paint Charge, and Projection Design</em>
            <ul>
              <li>Southwestern University</li>
              <li>Directed by Lilly Wolff</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2018</p>
          </div>
          <div class="resume__section--info">
            <h4>Bye Bye Birdie</h4>
            <em>Projection Design</em>
            <ul>
              <li>Georgetown Palace Theater Education</li>
              <li>Directed by Jessie Drollette</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2017</p>
          </div>
          <div class="resume__section--info">
            <h4>Heritage Theater Festival</h4>
            <em>Assistant Technical Director and Run Crew Chief</em>
            <ul>
              <li>University of Virginia</li>
              <li>Technical Direction by Chris Rybitski</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2017</p>
          </div>
          <div class="resume__section--info">
            <h4>Noises Off</h4>
            <em>Assistant Technical Director</em>
            <ul>
              <li>Southwestern University</li>
              <li>Technical Direction by Justin Smith</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2017</p>
          </div>
          <div class="resume__section--info">
            <h4>The Effect of Gamma Rays on Man-in-the-moon Marigolds</h4>
            <em>Scenic Design & Paint Charge</em>
            <ul>
              <li>Southwestern University</li>
              <li>Directed by Tristan Evans</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2016</p>
          </div>
          <div class="resume__section--info">
            <h4>You're a Good Man, Charlie Brown</h4>
            <em>Scenic Design, Paint Charge, and Projection Design</em>
            <ul>
              <li>Southwestern University</li>
              <li>Directed by Brian Fahey</li>
              <li>
                <em
                  >Best Theatrical Design: Texas Educators Theatre Association</em
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2016</p>
          </div>
          <div class="resume__section--info">
            <h4>Dead Man Walking</h4>
            <em>Stage Manager</em>
            <ul>
              <li>Southwestern University</li>
              <li>Directed by Kathleen Juhl</li>
            </ul>
          </div>
        </div>

        <div class="resume__section">
          <div class="resume__section--date">
            <p>2016</p>
          </div>
          <div class="resume__section--info">
            <h4>Clybourne Park</h4>
            <em>Assistant Scenic Designer</em>
            <ul>
              <li>Penfold Theater Company</li>
              <li>Directed by Desiderio Roybal</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="social" class="section__social">
      <h2>Follow Austin</h2>
      <div class="social__section">
        <a
          class="button-55 inline"
          href="https://www.instagram.com/austinrmueck/">Instagram</a
        >
        <a
          class="button-55 inline"
          href="https://www.linkedin.com/in/austin-mueck-0b1b3b1b9/">LinkedIn</a
        >
        <a
          class="button-55 inline"
          href="https://www.linkedin.com/in/austin-mueck-0b1b3b1b9/">LinkedIn</a
        >
      </div>
    </section>

    <style>
      section {
        margin-bottom: 4rem;
        max-width: 100%;
      }

      .section__about {
        max-width: 750px;
      }

      .section__contact {
        max-width: 750px;
      }

      .resume__section--container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem; /* Adjust as needed */
      }

      @media (min-width: 480px) {
        /* Adjust breakpoint as needed */
        .resume__section--container {
          grid-template-columns: repeat(
            1,
            1fr
          ); /* 2 columns for larger screens */
        }
      }

      @media (min-width: 768px) {
        /* Adjust breakpoint as needed */
        .resume__section--container {
          grid-template-columns: repeat(
            2,
            1fr
          ); /* 2 columns for larger screens */
        }
      }

      @media (min-width: 1024px) {
        /* Adjust breakpoint as needed */
        .resume__section--container {
          grid-template-columns: repeat(
            3,
            1fr
          ); /* 3 columns for even larger screens */
        }
      }

      .head__start {
        margin-top: 0;
      }
      h2 {
        margin-bottom: 1rem;
      }

      h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }

      h4 {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0.125rem;
      }

      h4 + em {
        font-size: 1.125rem;
      }

      li {
        font-size: 1rem;
        margin: 0.66rem 0;
      }

      em {
        font-size: 1rem;
        font-style: italic;
        line-height: 1.5;
      }

      .inline {
        margin: 0;
      }
      /* .page__container-info {
      max-width: 750px;
    } */

      .resume__section {
        /* display: flex; */
        /* justify-content: space-between; */
        width: 100%;
        padding: 2rem 1rem;
        border-color: var(--color__text);
        border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
        border-style: solid;
        border-width: 2px;
        border-bottom-left-radius: 5px 75px;
        border-bottom-right-radius: 75px 5px;
        border-top-left-radius: 75px 5px;
        border-top-right-radius: 5px 75px;
      }

      .resume__section--date > p {
        font-weight: 200;
        font-size: 1.25rem;
      }

      .resume__section--info {
        width: 100%;
      }

      .resume__section--info h3 {
        margin: 0;
      }
    </style>
  </div>
</MainLayout>
