---

---

<div class="navigation__container">
  <div class="navigation__catagories container__margin--bottom">
    <ul>
      <li><a href="/projects" id="btn__projects">Projects</a></li>
      <li><a href="/info" id="btn__information">Information</a></li>
    </ul>
  </div>
  <div class="navigation__content">

    <div class="navigation__content--projects container__margin--bottom">
      <ul>
        <li><a href="/projects/project-1">Project 1</a></li>
        <li><a href="/projects/project-2">Project 2</a></li>
        <li><a href="/projects/project-3">Project 3</a></li>
        <li><a href="/projects/project-4">Project 4</a></li>
      </ul>
    </div>
    <div class="navigation__content--information container__margin--bottom">
      <ul >
        <li><a href="/info#about">About</a></li>
        <li><a href="/info#contact">Contact</a></li>
        <li><a href="/info#resume">Resume</a></li>
        <li><a href="/info#social">Social</a></li>
      </ul>
</div>

<style lang="css">

.container__margin--bottom{
  margin-bottom: 2rem;
}
</style>