---
import Navigation from "./Navigation.astro";
---

<div class="mobile__menu--trigger">
  <button class="menu-btn" role="button">Menu</button>
</div>

<div class="mobile__menu">
  <Navigation />
</div>

<style></style>
