---

---

<div class="navigation__container">
  <!-- <div class="navigation__catagories container__margin--bottom">
    <ul>
      <li><a href="/projects" id="btn__projects">Projects</a></li>
      <li><a href="/info" id="btn__information">Information</a></li>
    </ul>
  </div> -->
  <div class="navigation__content">
    <div class="navigation__content--projects container__margin--bottom">
      <ul>
        <!-- <li><a href="/projects/revolutionist">The Revolutionist</a></li> -->
        <li>
          <a class="magic-hover magic-hover__square" href="/projects/romeo"
            >Romeo & Juliet</a
          >
        </li>
        <li>
          <a class="magic-hover magic-hover__square" href="/projects/carol"
            >A Christmas Carol</a
          >
        </li>
        <li>
          <a class="magic-hover magic-hover__square" href="/projects/clue"
            >Clue</a
          >
        </li>
        <li>
          <a class="magic-hover magic-hover__square" href="/projects/brightroom"
            >A Bright Room</a
          >
        </li>
        <li>
          <a class="magic-hover magic-hover__square" href="/projects/charlie"
            >Charlie Brown</a
          >
        </li>
      </ul>
    </div>
    <div class="navigation__content--information container__margin--bottom">
      <ul>
        <li>
          <a class="magic-hover magic-hover__square" href="/info">About</a>
        </li>
        <li>
          <a class="magic-hover magic-hover__square" href="/info#contact"
            >Contact</a
          >
        </li>
        <li>
          <a class="magic-hover magic-hover__square" href="/info#resume"
            >Resume</a
          >
        </li>
        <li>
          <a class="magic-hover magic-hover__square" href="/info#social"
            >Social</a
          >
        </li>
      </ul>
    </div>

    <style lang="css">
      .container__margin--bottom {
        margin-bottom: 4rem;
      }

      ul li {
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
    </style>
  </div>
</div>
